<form action="/tasks" method='post' tabindex='1'>
  <p>Enter a new task:</p>
  <input type='text' name='task[title]' tabindex='2'/><br/>
  <textarea name= 'task[description]' tabindex='3'></textarea><br/>
  <input type='submit'/ tabindex='4'>
</form>

